@font-face {
	font-family: Phenomena-Regular;
	src: url('Phenomena-Regular.otf');
}

@font-face {
	font-family: Phenomena-Black;
	src: url('Phenomena-Black.otf');
}

@font-face {
	font-family: Phenomena-Bold;
	src: url('Phenomena-Bold.otf');
}
body {
	background-color: #000F1E;
	padding: 50px;
	width: 227px;
	height: 100px;
}

div.cyber-response-top {

	background-color: #FFFFFF;
	position: fixed;
	width: 100%;
	height: 15%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	border-bottom: 15px;
	border-bottom-color: #3E0007;
	border-bottom-style: solid;
}

a.cyber-response-title {
	color: #3E0007;
	font-size: 80pt;
	font-family: Phenomena-Black;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

div.AboutUs {
	background-color: #FFFFFF;

	color: #3E0007;
	font-size: 30pt;
	text-align: center;
	font-family: Phenomena-Bold;
	font-weight: bold;

	position: fixed;
	top: 35%;
	right: 45%;
	width: 200px;
	height: 60px;
	-moz-border-radius: 100px/ 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	margin: 5px 1% 5px 1%;
	float: left;
	transition: height 0.5s;
	-webkit-transition:height 0.5s;
}

	div.AboutUs:hover{
		height: 50px;
	}

	a.AboutUs {
		color: #3E0007;
		text-decoration: none;
	}

div.Sign-Up {
	background-color: #FFFFFF;

	color: #3E0007;
	font-size: 30pt;
	text-align: center;
	font-family: Phenomena-Bold;
	font-weight: bold;

	position: fixed;
	top: 45%;
	right: 45%;

	width: 200px;
	height: 60px;
	-moz-border-radius: 100px/ 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	margin: 5px 1% 5px 1%;
	float: left;
	transition: height 0.5s;
	-webkit-transition:height 0.5s;
}

	div.Sign-Up:hover{
		height: 50px;
	}

	a.Sign-Up {
		color: #3E0007;
		text-decoration: none;
	}

div.Log-In {
	background-color: #FFFFFF;

	color: #3E0007;
	font-size: 30pt;
	text-align: center;
	font-family: Phenomena-Bold;
	font-weight: bold;

	position: fixed;
	top: 55%;
	right: 45%;
	width: 200px;
	height: 60px;
	-moz-border-radius: 100px/ 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	margin: 5px 1% 5px 1%;
	float: left;
	transition: height 0.5s;
	-webkit-transition:height 0.5s;
}

	div.Log-In:hover{
		height: 50px;
	}

	a.Log-In {
		color: #3E0007;
		text-decoration: none;
	}

.grow {
    height: 100px; /* Origional height */
    width: 22%; /* Origional width */
    margin: 5px 1% 5px 1%; /* Just for presentation (Not required) */
    float: left; /* Just for presentation (Not required) */
    position: relative; /* Just for presentation (Not required) */
    transition:height 0.5s; /* Animation time */
    -webkit-transition:height 0.5s; /* For Safari */
}
.grow:hover {
    height: 115px; /* This is the height on hover */
}